body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2e2e2e;
}

.container {
  text-align: center;
  margin-top: 5vh;
  width: 80%;
  max-width: 80vw;
}

.navbar {
  margin: 0;
  background-color: #0022ff;
  color: white;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 80vw;
  height: 80vh;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 900;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.creator {
  color: #585858;
  display: flex;
  width: 100%;
  margin-right: 1rem;
  justify-content: end;
}
